h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', ;
    color: #0F4C81;
}

h1{
    font-weight: bold;
    font-size: 40px;
}

h2{
    font-weight: bold;
    font-size: 36px;
}

h3{
    font-weight: bold;
    font-size: 32px;
}

h4{
    font-weight: 400;
    font-size: 28px;
}

p{
    font-family: 'Open Sans', ;
    font-size: 16px;
    color: #0F4C81;
    font-weight: 400;
}


