h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Open Sans';
  color: #0F4C81;
}

p {
  font-size: 24px;
  line-height: 25px;
  font-weight: 400;
  font-family: 'Open Sans';
}

h2 {
  font-size: 36px;
  font-weight: bold;
  font-family: 'Open Sans';
  color: #0f4c81;
}

h3 {
  font-size: 32px;
  font-weight: bold;
  font-family: 'Open Sans';
  color: #0f4c81;
}

h4 {
  font-size: 28px;
  font-weight: 400;
  font-family: 'Open Sans';
  color: #0f4c81;
}

